# =========================================
# IntelliJ IDEA
# =========================================
.idea/
*.iml
out/

# =========================================
# Maven
# =========================================
target/
dependency-reduced-pom.xml
buildNumber.properties

# =========================================
# Logs & reports
# =========================================
*.log
*.tmp
*.swp
*.swo
*.DS_Store
Thumbs.db

# Reportes de Allure
allure-results/
allure-report/

# =========================================
# Java
# =========================================
*.class

# =========================================
# Archivos de librerías locales (no versionar JARs)
# =========================================
*.jar
*.war
*.ear

# =========================================
# Configuración del sistema operativo
# =========================================
ehthumbs.db
Icon?
desktop.ini

# =========================================
# Archivos de pruebas temporales
# =========================================
*.orig
